body {
    text-align: center;
    background-color: black;
}

canvas {
    border: 5px solid black;
}

h1 {
    font-family: Monospace;
    font-size: 50px;
    color: gold;
}

/*.sideBlock {
    float: right;
}*/

h3 {
    font-family: Monospace;
    font-size: 20px;
    color: gold;
}